<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metallica</title>
    <link rel="stylesheet" href="../styles/news.css">
</head>
<body>
<header>
    <nav class="nav-bar">
        <a href="index.html"><img src="../resources/logo.svg" class="logo-img" width="100" height="50"></a>
        <ul>
            <li><a href="index.html">MAIN</a></li>
            <li><a href="news.html">NEWS</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">FOR FANS</a>
                <div class="dropdown-content">
                    <a class="nav_link" href="#">Link 1</a>
                    <a class="nav_link" href="#">Link 2</a>
                    <a class="nav_link" href="#">Link 3</a>
                </div>
            </li>
            <li><a href="#">FANS APPEAL</a></li>
            <li><a href="#">CONCERT VENUE</a></li>
            <li><a href="#">ADMIN</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="../resources/hetfield.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <p>
                    Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun
                    denim lorem jeansum.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../resources/hetfield.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <p>
                    Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun
                    denim lorem jeansum.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../resources/hetfield.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <p>
                    Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun
                    denim lorem jeansum.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../resources/hetfield.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <p>
                    Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun
                    denim lorem jeansum.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../resources/hetfield.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <p>
                    Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun
                    denim lorem jeansum.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../resources/hetfield.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <p>
                    Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun
                    denim lorem jeansum.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../resources/hetfield.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <p>
                    Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun
                    denim lorem jeansum.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../resources/hetfield.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <p>
                    Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun
                    denim lorem jeansum.
                </p>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <p>Footer</p>
</footer>
</body>
</html>